<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.sui.tjpu.eit.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.sui.tjpu.eit.Perspective"
            id="com.sui.tjpu.eit.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.sui.tjpu.eit.application"
            name="TJPU-EIT">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.sui.tjpu.eit.commands.ExitHandler"
            id="com.sui.tjpu.eit.commands.Exit"
            name="Exit">
      </command>
      <command
            defaultHandler="com.sui.tjpu.eit.commands.ShowImageView"
            id="com.sui.tjpu.eit.commands.showImage"
            name="showImage">
      </command>
      <command
            defaultHandler="com.sui.tjpu.eit.commands.ConnectLocal"
            id="com.sui.tjpu.eit.commands.Local"
            name="Local">
      </command>
      <command
            defaultHandler="com.sui.tjpu.eit.commands.ConnectOnline"
            id="com.sui.tjpu.eit.commands.Online"
            name="Online">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="com.sui.tjpu.eit.commands.Exit"
                  label="Exit"
                  style="push">
            </command>
         </menu>
         <menu
               label="windows">
            <command
                  commandId="com.sui.tjpu.eit.commands.showImage"
                  label="showImage"
                  style="push">
            </command>
         </menu>
         <menu
               label="Connect">
            <command
                  commandId="com.sui.tjpu.eit.commands.Local"
                  label="Local"
                  style="radio">
            </command>
            <command
                  commandId="com.sui.tjpu.eit.commands.Online"
                  label="Online"
                  mode="FORCE_TEXT"
                  style="radio">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.sui.tjpu.eit.ViewPart1"
            id="com.sui.tjpu.eit.view1"
            name="name"
            restorable="true">
      </view>
      <view
            class="com.sui.tjpu.eit.ShowImage"
            icon="icons/alt_window_16.gif"
            id="com.sui.tjpu.eit.showimage"
            name="Reconstruction"
            restorable="true">
      </view>
      <view
            class="com.sui.tjpu.eit.Configure"
            id="com.sui.tjpu.eit.configure"
            name="configure"
            restorable="true">
      </view>
      <view
            class="com.sui.tjpu.eit.Control"
            id="com.sui.tjpu.eit.control"
            name="Control"
            restorable="true">
      </view>
      <view
            class="com.sui.tjpu.eit.Show3D"
            id="com.sui.tjpu.eit.show3d"
            name="Show3D"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="true"
               id="com.sui.tjpu.eit.showimage"
               minimized="false"
               moveable="true"
               ratio="0.72f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="com.sui.tjpu.eit.configure"
               minimized="false"
               moveable="true"
               ratio="0.3f"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="com.sui.tjpu.eit.control"
               minimized="false"
               moveable="true"
               ratio="0.65f"
               relationship="bottom"
               relative="com.sui.tjpu.eit.configure"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               id="com.sui.tjpu.eit.show3d"
               minimized="false"
               ratio="0.5f"
               relationship="bottom"
               relative="com.sui.tjpu.eit.showimage">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.sui.tjpu.eit.commands.JoglEditor"
            contributorClass="com.sui.tjpu.eit.commands.JoglActionBarContributor"
            default="false"
            id="com.sui.tjpu.eit.editor1"
            name="JOGLEditor">
      </editor>
   </extension>

</plugin>
